#logo {
  font-family: "Trebuchet MS";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

#navigate {
  font-size: 20px;
  font-family: "Andale Mono", monospace;
}

article {
  font-family: "Verdana";
  padding: 2% 20% 20% 20%;
}

article h1 {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}

.img-circle {
  border-radius: 50%;
}